<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Equipo</title>
    <link rel="stylesheet" href="css/estilo.css">
</head>
<body>
<h1>Crear Nuevo Equipo</h1>
<form action="/guardarEquipo" method="post">
    <label for="nombre">Nombre del Equipo:</label>
    <input type="text" id="nombre" name="nombre" required>
    <button type="submit">Guardar</button>
</form>
<a href="/">Volver al Inicio</a>
</body>
</html>
