<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultado del Partido</title>
    <link rel="stylesheet" href="css/estilo.css">
</head>
<body>
<h1>Resultado del Partido</h1>
<p th:text="'Equipo Local: ' + ${equipoLocal.nombre} + ' (' + ${golesLocal} + ')'" ></p>
<p th:text="'Equipo Visitante: ' + ${equipoVisitante.nombre} + ' (' + ${golesVisitante} + ')'" ></p>
<a href="/">Volver al Inicio</a>
</body>
</html>